<!DOCTYPE html>
<html ng-app="scanner" ng-csp>
<head>

    <link rel="stylesheet" href="/assets/css/angular-material.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/progress.css"/>
</head>

<body>
<div ng-controller="scan" layout="column" class="full-height">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <div flex="33">
                <h3>
                    <img src="/assets/images/logo.png" style="margin-bottom: -12px" />
                     Production Tracker
                </h3>
            </div>
            <div flex="33" class="text-center">
                <div class="station-header" ng-show="settings.station">{{settings.station}} Department</div><span ng-hide="settings.station">No department set</span>
            </div>
            <div flex="33" class="text-right">
                <md-button ng-show="settings.station" class="md-raised md-padd-left" ng-click="changestate('scan')"> Scan <ng-md-icon class="button-icon-padding" icon="videocam"></ng-md-icon></md-button>
                <md-button ng-show="settings.station" class="md-raised md-padd-left" ng-click="changestate('manual')"> Manual <ng-md-icon class="button-icon-padding" icon="input"></ng-md-icon></md-button>
                <md-button ng-show="settings.station" class="md-raised md-padd-left" ng-click="changestate('report')"> Department Report <ng-md-icon class="button-icon-padding" icon="input"></ng-md-icon></md-button>
                <md-button class="md-raised md-padd-left" ng-click="changestate('settings')"> Settings <ng-md-icon class="button-icon-padding" icon="settings_applications"></ng-md-icon></md-button>
            </div>
           </div>
    </md-toolbar>

            <md-content layout="column" flex layout-align="center center" ng-show="displayIndicator">
                <div class='Cube panelLoad'>
                    <div class='cube-face cube-face-front'>C</div>
                    <div class='cube-face cube-face-back'>H</div>
                    <div class='cube-face cube-face-left'>E</div>
                    <div class='cube-face cube-face-right'>C</div>
                    <div class='cube-face cube-face-bottom'>K</div>
                    <div class='cube-face cube-face-top'>!</div>
                </div>
            </md-content>
            <md-content layout="column" flex class="md-padding" ng-hide="displayIndicator">
                <div ui-view></div>
            </md-content>
    <md-toolbar>
        <h2 class="md-toolbar-tools md-toolbar-tools-bottom" >

            <span style="width:100%">{{version}}
            <img src="/assets/images/machurian.png" style="float: right"/>
            </span>

        </h2>
    </md-toolbar>
</div>



</body>
<script src="/js/qrcode.js"></script>
<script src="/js/lib/angular/angular.min.js"></script>
<script src="/js/lib/angular/angular-animate.min.js"></script>
<script src="/js/lib/angular/angular-aria.min.js"></script>
<script src="/js/lib/angular/angular-material.min.js"></script>
<script src="/js/lib/angular/angular-material-icons.min.js"></script>
<script src="/js/lib/angular/angular-ui-router.min.js"></script>
<script src="/js/config.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/app-controller.js"></script>
<script src="/js/factory/qrFactory.js"></script>
<script src="/js/services/orderconfig.js"></script>
<script src="/js/services/orderid.js"></script>
<script src="/js/services/settings.js"></script>
<script src="/js/services/log.js"></script>
</html>