<!DOCTYPE html>
<html ng-app="scanner" ng-csp>
<head>
    <link rel="stylesheet" href="/assets/css/angular-material.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
</head>

<body>
<div ng-controller="scan" layout="column" class="full-height">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <div flex="33">
                <h3>
                    Production Tracker
                </h3>
            </div>
            <div flex="33" style="text-align: center">
                <div style="text-transform: capitalize;padding:3px;color:white;font-weight:bold;font-size:1.6em" ng-show="station">{{station}} Station</div><span ng-show="station==''">No station set</span>
            </div>
            <div flex="33" style="text-align: right">
                <md-button class="md-raised md-padd-left" ng-click="changestate('scan')"> Scan <ng-md-icon class="button-icon-padding" icon="videocam"></ng-md-icon></md-button>
                <md-button class="md-raised md-padd-left" ng-click="changestate('manual')"> Manual <ng-md-icon class="button-icon-padding" icon="input"></ng-md-icon></md-button>
                <md-button class="md-raised md-padd-left" ng-click="changestate('settings')"> Settings <ng-md-icon class="button-icon-padding" icon="settings_applications"></ng-md-icon></md-button>
            </div>
           </div>
    </md-toolbar>
    <div layout="row" flex class="content-wrapper">
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
            <div layout="column" flex class="content-wrapper" id="left-col">
                <md-toolbar class="md-default-theme">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Menu</h2>
                    </div>
                </md-toolbar>
                <md-content layout="column" flex class="md-padding">
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="item in menuItems">
                            <div class="md-list-item-text">
                                <md-button class="md-raised full-width" ng-click="changestate(item.title)"
                                           style="margin-bottom: 25px">
                                    <h3>{{item.title}}
                                        <ng-md-icon ng-show="item.title=='settings'" class="button-icon-padding"
                                                    icon="settings_applications"></ng-md-icon>
                                        <ng-md-icon ng-show="item.title=='manual'" class="button-icon-padding"
                                                    icon="input"></ng-md-icon>
                                        <ng-md-icon ng-show="item.title=='scan'" class="button-icon-padding"
                                                    icon="videocam"></ng-md-icon>
                                    </h3>


                                </md-button>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-content class="versionText">Version {{version}}</md-content>
                </md-content>

            </div>
        </md-sidenav>

        <div layout="column" flex class="content-wrapper" id="primary-col">
            <md-content layout="column" flex class="md-padding md-whiteframe-z1">
                <div ui-view></div>
            </md-content>
        </div>
    </div>

</div>

</body>
<script src="/js/qrcode.js"></script>
<script src="/js/lib/angular/angular.min.js"></script>
<script src="/js/lib/angular/angular-animate.min.js"></script>
<script src="/js/lib/angular/angular-aria.min.js"></script>
<script src="/js/lib/angular/angular-material.min.js"></script>
<script src="/js/lib/angular/angular-material-icons.min.js"></script>
<script src="/js/lib/angular/angular-ui-router.min.js"></script>
<script src="/js/config.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/app-controller.js"></script>
<script src="/js/factory/qrFactory.js"></script>
<script src="/js/services/orderconfig.js"></script>
<script src="/js/services/orderid.js"></script>
<script src="/js/services/settings.js"></script>
<!--<script src="/js/services/autocomplete.js"></script>-->
</html>