<!--partial-config.tpml-->
<div id="mainbody">
    <div layout="row" layout-margin layout-fill layout-padding ng-show="items.networkerror" class="err">
        <div flex="90">
            <h2>Network connection is not available. Please contact support.</h2>
        </div>
        <div flex>
            <ng-md-icon ng-click="resetManualMessage()" icon="close"
                        style="fill: white; float: right;cursor: pointer"></ng-md-icon>
        </div>
    </div>
    <md-content layout-padding style="height: 600px;padding: 24px;" ng-hide="items.networkerror">
        <h1>Configuration Settings</h1>
        <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque
            nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro
            labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans
            no. Sed laudem aliquam ne.</p>
        <md-input-container>
            <label>Username</label>
            <input type="text" ng-model="user.name">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <textarea ng-model="user.password"></textarea>
        </md-input-container>
        <md-select class="lgText" ng-model="station">
            <md-option ng-repeat="item in items| filter:'!QA Reject'" value="{{item.stage}}">{{item.stage}}</md-option>
        </md-select>
        <br /><br />
        <br /><br />
        <md-button class="md-raised full-width" ng-click="saveConfig({'station' : station , 'user':{'name':user.name,'password':user.password}})" style="margin: 25px 0px">
            <h3>Save</h3>
        </md-button>
    </md-content>
</div>