<!--partial-config.tpml-->
<div id="mainbody">
    <md-content layout-padding style="height: 600px;padding: 24px;">
        <h1>Manual Scan</h1>
        <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque
            nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro
            labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans
            no. Sed laudem aliquam ne.</p>
        <md-input-container>
            <label>Code</label>
            <input type="text" ng-model="manual.code">
        </md-input-container>

        <br /><br />
        <br /><br />
        <md-button class="md-raised full-width" ng-click="lookupOrder(manual.code)" style="margin: 25px 0px">
            <h3>Submit</h3>
        </md-button>
    </md-content>
</div>