<!--partial-config.tpml-->
<div id="mainbody">
    <md-content layout-padding style="height: 100%;padding: 24px;">
        <h1>Manual Scan</h1>
        <p>Enter the Order Reference e.g. ALES-9LPK9Y</p>
        <md-input-container>
            <label>Order Reference</label>
            <input type="text" ng-model="manual.code">
        </md-input-container>
        <div layout="column" layout-fill layout-align="center center">
        <md-button class="md-raised middleButton" style="margin-top: 15px" ng-click="lookupOrder(manual.code)">
            <h3>Submit</h3>
        </md-button>
        </div>
        <div layout="row" layout-margin layout-fill layout-padding ng-show="manualerr" class="err">
            <div flex="90">
                <h2>You must enter a product reference.</h2>
            </div>
            <div flex>
                <ng-md-icon ng-click="resetManualMessage()" icon="close" class=fill-white"
                            style="float: right;cursor: pointer"></ng-md-icon>
            </div>
        </div>
        <div change-station></div>
    </md-content>
</div>