<!--partial-config.tpml-->
<div id="mainbody">
    <md-content layout-padding style="height: 100%;padding: 24px;">
        <h1>Manual Scan</h1>

        <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque
            nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro
            labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans
            no. Sed laudem aliquam ne.</p>

            <label>Order Reference</label>
            <md-autocomplete
                    md-selected-item="selectedItem"
                    md-search-text="searchText"
                    md-items="item in querySearch(searchText)"
                    md-item-text="item"
                    md-min-length="3"
                    placeholder="Enter the order reference here">
                <md-item-template>
                    <span md-highlight-text="searchText">{{item}}</span>
                </md-item-template>
            </md-autocomplete>
          <br/><br/>
        <br/><br/>
        <div layout="column" layout-fill layout-align="center center">
        <md-button class="md-raised middleButton" ng-click="lookupOrder(selectedItem)" style="margin: 25px 0px">
            <h3>Submit</h3>
        </md-button>
            </div>
        <div layout="row" layout-margin layout-fill layout-padding ng-show="manualerr=='true'" class="err">
            <div flex="90">
                <h2>You must enter a product reference.</h2>
            </div>
            <div flex>
                <ng-md-icon ng-click="resetManualMessage()" icon="close"
                            style="fill: white; float: right;cursor: pointer"></ng-md-icon>
            </div>
        </div>
    </md-content>
</div>