.full-width {
    width: 100%
}

.full-height {
    height: 100%
}

.results-table td {
    vertical-align: top
}

.grey {
    color: grey;
}

.lgText {
    font-size: 2em
}

.versionText {
    position: absolute;
    bottom: 5px
}

.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

.err {
    background-color: #FF3300
}

.err h2 {
    color: white
}

.succ {
    background-color: #339933 !important
}

.succ h2 {
    color: white
}

.succ-border {
    border: 3px solid #339933
}

.arrow-middle {
    margin-left: 47%
}
